g!DOCTYPE html>
<html>
<head>
  <title>Account Locked</title>
</head>
<body>
  <p>Bonjour {{firstname}},</p>
  <p>Votre compte a été verrouillé en raison de plusieurs tentatives de connexion échouées.</p>
  <p>Veuillez réessayer dans {{lockDuration}}.</p>
  <p>Merci de votre compréhension.</p>
</body>
</html>
