<!DOCTYPE html>
<html>
<head>
  <title>Confirmation de votre inscription</title>
</head>
<body>
  <p>Bonjour {{firstname}},</p>
  <p>Merci de vous être inscrit. Veuillez confirmer votre inscription en cliquant sur le lien suivant :</p>
  <p><a href="{{confirmationUrl}}">Confirmer votre inscription</a></p>
  <p>Merci !</p>
</body>
</html>
